<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>NaH Robotics Website</title>
    </head>
    <body>
        <h1 style="font-size: 36; text-align: center;">Welcome to NaH Robotic's Website!</h1>
        <div class="gallery">
            <img src="/static/logo.png" alt="Our Team Logo">
        </div>
        <br>
        <br>
        <h2>
            About Us
        </h2>
        <p>
            We are a local team from Palo Alto, California. Even though we are all 8-9th grade, we still can be a formidable opponent for anyone. We are a three person tryhard casual team, but all our three members are very experienced in our respective fields.
            We design good robots, program them to their limits, and go absolutely tryhard mode during practice runs. Our team has the right people doing the right things at the right times.
        </p>
        <br>
        <br>
        <p>
            <h1 style="font-size: 20;">Links to Our seasons</h1>
            <br>
            <button onclick="location.href = 'skystone';" id="2019-2020 Skystone" class="float-left submit-button" >2019-2020 Skystone</button>
            <br>
        </p>
    </body>
</html>
