<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            Programming
        </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <h1 style="font-size: 36; text-align: center;">Programming</h1>
        <button onclick="location.href = 'skystone';" id="2019-2020 Skystone" class="float-left submit-button" >← Go Back</button>
        <br>
        <br>
        <h2>First program</h2>
        <p>
            For our first program, we used traditional pushbot programming, since we cheap Rev mecanum wheels weren't avalible that early in the season.
            We also had a traditional clawbot, but we did some fancy math and found about the exact force for the motor to hold the arm, which made it much easier to write our program.
            <br>
            Suprisingly, we also managed to do an autonomous. We used the built in gyro to hardcode an autonomours that grabbed the foundation, pulled it into the building site,
            and parked under the skybridge. In the earlier iterations of this, it was fraught with problems, as it is very hard to move exactly sideways using omni wheels.
        </p>
        <h2>Second program using mecanum wheels!</h2>
        <p>
            When our mecanum wheels finally arrived, we made a really cool drivetrain, but wait for it..., we needed to write a new program.
            Without going into depth about our drivetrain, we basically had to spend a lot of time to figure out how mecanum wheels moved.
            Also, we used a linear slide, which caused even more mecanical problems, but we eventually figured it out and got a working robot.
        </p>
    </body>
</html>