<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            Our Robot
        </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <h1 style="font-size: 36; text-align: center;">Our Robot</h1>
        <button onclick="location.href = 'skystone';" id="2019-2020 Skystone" class="float-left submit-button" >← Go Back</button>
        <br>
        <br>
        <h2>Prototyping</h2>
        <p>
            In our original prototype(s) we came up with two ideas. One was a clawbot with very efficient motors and linear slides, and the other was more cost-concious
            and had mecanum wheels, a double linear slide, but a seperate mechanicism to place the capstone. Both had many similar traits, like mecanum wheels and linear slides.
            Eventually, we were split on which prototype to test first, so we came to a compromise.
        </p>
        <br>
        PROTOTYPE IMAGES GO HERE
        <h2>First Design</h2>
        <p>
            Our first design had a single linear slide, because we decided it was the most cost-effective on our limited budget.
            This single linear slide also could manipulate both stones and our capstone at the same time, so we decided to go forward.
            We used intake wheels because after pemiliary tests, the intake wheels could get stones at much faster and consistent rate.
            <br>
            ROBOT IMAGES GO HERE
        </p>
        <h2>Second Design</h2>
        <p>
            After our first design, our robot was good overall, but had a few major and minor issue. One big issue was that the robot was sagging under its own weight because it didn't have enough supports.
            We fixed this by adding some more extrusions to our custom chasis.
            Also, the servos rotating the stones in and out(pictured below) kept getting caught on its own wires and kept disconnecting.
            This seemed like a small issue, but after many failed attempts of fixing it we decided to add multiple servo extensions, making the wires loop around the robot.
            That was not very efficient, but if it works, it works.
            <br>
            <br>
            Also, the intake wheels were fairly prone to jamming, so we remounted the intake wheels further back at an angle and added a ramp.
            This fixed the jamming issue and it also allowed us to move the intake space back, leaving more space in the front for sensors we might use for autonomous.
        </p>
        <h2>Final Arrangement</h2>
        <p>
            Our robot's drivetrain is mecanum wheel-driven, which are arranged in a "X" shape.
            We also have intake wheels, since we found them much more efficient than a claw in our first prototypes.
            To place the game elements, which are called stones onto the foundation, we used a single linear slide and a 180 degrees rotating servo to grab the stones and put it on the foundation.
        </p>
    </body>